<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<main>
    <div class="container form-container">
        <section class="form-section">
            <h2>Login</h2>
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                
                <div class="form-group">
                    {{ form.username.label }}<br>
                    {{ form.username(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </section>
    </div>
</main>
{% endblock %}
